#bg-main{
    
    background-image: url('https://images.unsplash.com/photo-1436891620584-47fd0e565afb?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D'); 
    width:100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
    background-attachment: fixed;
    
}
#search-btn{
    background-color: rgba(141, 112, 181, 0.59);
    padding: 10px;
    color: white;
    border-radius: 20px;
}

#center-bg{
    height: 90vh;
    background-color: rgb(0 0 0 / 50%);
   }
   
#wheather-card{
    background-color:#00000061;
}

@media(max-width:540px){
    #wheather-card{
      margin-top: 50px;
    }
    #center-bg{
       background-color: transparent;
       
    }
    #cityname{
     color: blue;
    }
    #search-field{
        display: block;
    }
    #center-bg{
        padding-left: 33px;
    }
}
